* {
    border: none;
    border-radius: 0;
    font-family: "IosevkaTerm NFP Medium";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #282828;
    color: #ebdbb2;
}

#window {
    font-weight: bold;
    font-family: "IosevkaTerm NFP Medium";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ebdbb2;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #98971a;
    border-top: 2px solid #98971a;
}

#workspaces label {
    font-size: 15px;
    font-weight: bold;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #power-profiles-daemon, #tray, #language {
    background: #3c3836;
    padding: 0 4px;
    margin: 0 3px;
    border-top: 2px solid #83a598;
}

#clock {
    font-weight: bold;
}

#battery {
    color: #ebdbb2;
}

#battery icon {
    color: #fb4934;
}

#battery.charging {
    color: #b8bb26;
}

@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: black;
    }
}


#battery.warning:not(.charging) {
    color: #fabd2f;
}

#battery.critical:not(.charging) {
    color: #fb4934;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #fb4934;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #fb4934;
}

#tray {
}
